@CHARSET "UTF-8";

/* ページ全体のリセット */
body {
    margin: 0;
    padding: 0;
    font-family: "Meiryo", "ヒラギノ角ゴ ProN", sans-serif;
}

/* 上部タイトルエリア */
.header-wrapper {
    width: 100%;
    background-color: #d0e7f9; /* もう少し青っぽい水色 */
    padding: 1px 20px; /* 上下をさらに狭く、左右は少し控えめに */
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

/* メニューとコンテンツを横並びにするコンテナ */
.main-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 60px);
}

/* 左メニューエリア */
.menu-wrapper {
    width: 15%;
    background-color: #f8f9fa;
    padding: 15px;
    border-right: 1px solid #ddd;
}

/* 右コンテンツエリア */
.content-container {
    flex-grow: 1;
    padding: 20px;
    min-height: 100vh;
    overflow-y: auto;
}

.menu-list {
    list-style-type: none; /* 「・」を消す */
}

.menu-container {
    border-right: 1px solid #ccc; /* メニューとコンテンツ間の縦線 */
    padding-right: 50px;
}

.user-info {
    text-align: right;
    margin-right: 30px;
}

/* フッターエリアの中央揃え */
.footer {
    width: 100%;
    background-color: transparent;
    padding: 5px;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
}


